body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: #ff5200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    color: black;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: bold;
}

.nav-link {
    color:white;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, color 0.3s;
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav-link i {
    font-size: 16px;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #ffd700;
}

.cart {
    display: flex;
    align-items: center;
}

.search-box {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    background: white;
    color: black;
    width: 200px;
}
